<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StudentEntities" connectionString="metadata=res://*/StudentModel.csdl|res://*/StudentModel.ssdl|res://*/StudentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U6M6IEK;initial catalog=Student;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentEntities1" connectionString="metadata=res://*/StudentsModel.csdl|res://*/StudentsModel.ssdl|res://*/StudentsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U6M6IEK;initial catalog=Student;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StudentEntities2" connectionString="metadata=res://*/StudentsModel1.csdl|res://*/StudentsModel1.ssdl|res://*/StudentsModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U6M6IEK;initial catalog=Student;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>